/** toolbar icons **/
.icon-48-gallerie { background-image: url(gallerie.png); } 
.icon-48-nuova { background-image: url(nuova.png); } 
.icon-48-modifica { background-image: url(modifica.png); } 
.icon-48-immagini { background-image: url(immagini.png); } 

.pigiaqui{font-size: 24px;}

